.pagination-item {
    display: inline;
}

.pagination-item a {
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #27AE61;
    color: #27AE61;
    cursor: pointer;
}

.pagination-item a:hover {
    color: white;
    background-color: #27AE61;
}

.option {
    cursor: pointer;
}

.cardsArticle{
    width: 480px;
    height: 405px;
}

.cards:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    background-color: #27AE61;
}

.imageArticle{
    width: 850px;
    height: 350px;
}

.coverArticle{
    position: relative;
    z-index: 1;
    top: 0px;
}

.tittleCover{
    position: absolute;
    width: 700px;
    top: 30%;
    margin-left: 185px;
    z-index: 2;
}
