/* import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

.lp-container {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* nav */
.navbar {
  background-color: #27AE61;
}
.navbar img{
  width: 60px;
  margin-left: 28px;
  margin-right: 15px;
}

/*grad bar*/
.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
  position: fixed;
  z-index: 1;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* showcase */
.showcase {
  width: 100%;
  background: #F8F8F8;
  /* background: radial-gradient(141.01% 150.02% at 123.28% -33.44%, rgb(59, 76, 130) 0%, rgb(27, 39, 75) 100%); */
  box-shadow: -2px 4px 5px rgba(19, 125, 86, 0.3);
}

.showcase-container {
  width: 80%;
  margin: 0px auto;
  display: flex;
}

.left-showcase {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-showcase .showcase-head {
  font-size: 48px;
  color: #27AE61;
  margin-bottom: 8px;
}

.left-showcase .showcase-title {
  font-size: 32px;
  color: #1E272E;
}

.right-showcase {
  flex: 1;
  margin: 60px 0px;
}

.left-showcase .showcase-description {
  margin: 7px 0px;
  font-weight: 400;
  font-size: 1em;
  color: #858585;
}

.social-list-showcase {
  display: flex;
  align-items: center;
  margin: 15px 0px;
  color: #1E272E;
}

.social-list-showcase .fa-github,
.social-list-showcase .fa-instagram {
  margin-right: 15px;
}

.btn-started {
  align-self: start;
  padding: 10px 20px;
  border-radius: 8px !important;
  text-decoration: none;
  border: 2px solid #27AE61 !important; 
  color: #27AE61;
}

.right-showcase img {
  max-width: 100%;
  height: auto;
}

span {
  color : #27AE61;
}

/* rating section */
.rating-section {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 70px;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.rating-section .header h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}

.rating-section .header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 20px;
  margin-top: 70px;
}

.box p {
  margin-top: 8px;
  color: var(--grayishBlue);
}

.box {
  border-radius: 4px;
  box-sizing: unset;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
  z-index: -999;
}

/* 
.box img {
  float: right;
} */

.rating-section .cyan {
  border-top: 3px solid var(--cyan);
}
.rating-section .red {
  border-top: 3px solid var(--red);
}
.rating-section .blue {
  border-top: 3px solid var(--blue);
}
.rating-section .orange {
  border-top: 3px solid var(--orange);
}

.rating-section h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}

@media (min-width: 950px) {
  .rating-section .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rating-section .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rating-section .box-down {
    position: relative;
    top: 150px;
  }
  .rating-section .box {
    width: 20%;
  }
  .rating-section .header p {
    width: 30%;
  }
}

@media (max-width: 450px) {
  .rating-section .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .rating-section .box {
    text-align: center;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .rating-section .header h1 {
    font-size: 1.5rem;
  }
}

/* info */
.section-info {
  background: #F8F8F8;
  color: #1E272E;
  margin-top: 100px;
  overflow: hidden;
  box-shadow: -2px 4px 5px rgba(19, 125, 86, 0.3);
}

.info-container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  padding: 30px 0px;
}

.info-container .left-info {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-info h1 {
  font-size: 32px;
  font-weight: 500;
}

.left-info p {
  margin: 15px 0px;
  font-weight: 400;
  font-size: 1em;
}

.info-container .right-info {
  flex: 1;
}

.info-container img {
  max-width: 70%;
  height: auto;
  margin: 0px 75px;
}

/* info */
.card-info {
  width: 80%;
  margin: 0px auto;
  background: #ffffff;
  border-radius: 24px;
  color: #1E272E;
  margin-bottom: 50px;
  padding: 30px 0px;
}

.card-info h2 {
  text-align: center;
}

.card-box-info {
  margin-top: 30px;
  display: flex;
}

.left-card-info {
  flex: 1;
}

.left-card-info iframe {
  margin-left: 80px;
}

.youtube {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}

.responsive-iframe {
  width: 75%;
  height: 450px;
}

@media (max-width:1028px) {
  .responsive-iframe {
    height: 300px;
  }
}

@media (max-width:750px) {
  .responsive-iframe {
    height: 200px;
  }
}

@media (max-width:550px) {
  .responsive-iframe {
    height: 175px;
  }
}

.right-card-info {
  flex: 1;
}

.right-card-info h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* testi */
.wrapper-testi-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.wrapper-testi-title span{
  color: #27AE61;
}

.wrapper-testi {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.wrapper-testi .box-testi {
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.wrapper-testi .box-testi i.quote {
  font-size: 20px;
  color: #17a2b8;
}
.wrapper-testi .box-testi .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box-testi .info .name {
  font-weight: 500;
  font-size: 16px;
  color: #858585;
}
.box-testi .info .job {
  font-size: 14px;
  font-weight: 400;
  color: #17a2b8;
}
.box-testi .info .stars {
  margin-top: 2px;
}
.box-testi .info .stars i {
  color: #17a2b8;
}
.box-testi .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box-testi:hover .content .image img {
  border-color: #fff;
}
@media (max-width: 1045px) {
  .wrapper-testi .box-testi {
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper-testi .box-testi {
    width: 100%;
  }
}

/* footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* responsive */
@media only screen and (max-width: 1028px) {
  .showcase-container {
    flex-direction: column;
  }

  .left-showcase {
    order: 2;
    margin-bottom: 40px;
    margin-top: -60px;
  }

  .left-showcase .showcase-title {
    font-size: 24px;
  }

  .left-showcase .showcase-description {
    font-size: 12px;
  }

  .right-showcase {
    align-self: center;
    margin: 50px 0px;
  }

  /* info */
  .card-info {
    padding: 30px 30px;
    text-align: center;
  }

  .card-info h2 span {
    color: #27AE61;
  }

  .card-box-info {
    flex-direction: column;
  }

  .left-card-info {
    margin: 30px 0px;
  }

  .left-card-info img {
    max-width: 100%;
  }

  .info-container {
    flex-direction: column;
  }

  .left-info {
    order: 2;
    margin-bottom: 40px;
  }

  .left-info .info-title {
    font-size: 24px;
  }

  .left-info .info-description {
    font-size: 12px;
  }

  .right-info {
    margin: 30px 0px;
  }

  .right-info img {
    max-width: 100%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 768px) {
  /* nav */
  .nav {
    width: 95%;
  }
  .nav .nav-logo {
    flex: 1;
  }

  .nav .nav-user {
    margin-right: 15px;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 70px;
    height: calc(90vh - 70px);
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1b274b;
    align-items: center;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    transform: translateY(0);
    opacity: 1;
  }
}







.team-list img {
width: 50%;
}

.team-list .content {
width: 50%;
}

.team-list .content .follow {
position: absolute;
bottom: 24px;
}

.team-list:hover {
-webkit-transform: scale(1.05);
        transform: scale(1.05);
}

.team, .team-list {
-webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title, .team-list .content .title {
font-size: 18px;
}

.team .overlay {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.team .member-position, .team .team-social {
position: absolute;
bottom: -35px;
right: 0;
left: 0;
margin: auto 10%;
}

.team .team-social {
bottom: 40px;
opacity: 0;
-webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team:hover {
-webkit-transform: translateY(-7px);
        transform: translateY(-7px);
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.team:hover .overlay {
opacity: 0.6;
}

.team:hover .team-social {
opacity: 1;
}

@media (max-width: 768px) {
.team-list img,
.team-list .content {
  width: 100%;
  float: none !important;
}
.team-list img .follow,
.team-list .content .follow {
  position: relative;
  bottom: 0;
}
}

.list-inline-item:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 0px;
}

.rounded {
border-radius: 5px !important;
}

.social-icon.social li a {
  color: #adb5bd;
  border-color: #adb5bd;
}

.social-icon li a {
  color: #35404e;
  border: 1px solid #35404e;
  display: inline-block;
  height: 32px;
  text-align: center;
  font-size: 15px;
  width: 32px;
  line-height: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none !important;
}




.footer-basic {
  padding:20px 0;
  background-color:#27AE61;
  color:#fff;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:10px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:5px;
  text-align:center;
  font-size:18px;
  color:#fff;
  margin-bottom:0;
}

.card-contact {
  background: #00aced;
}

.button-contact {
  background-color:#00aced !important;
}

.privacy-clone{
  margin-top: 60px;
}


